* {
  box-sizing: border-box;

}

.main{
  text-align: center  ;
  width: 900px;
  height: 100vW;
}


img{
  width: 596px;
  height: 500px;
}

.randomimg{
  transition: opacity 0.5s ease-in-out;
}

#toggleButton{
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 70px;
}
